/* default typography */
body{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

img{
  max-width: 1200px;
  aspect-ratio: 8/4;
  width: 700px;
  display: block;
  object-fit: cover;
}
button{
  all: unset;
}

/* carousel section */
.carousel-image-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-container{
  width: 700px;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
}

/* left right button section */
.slider-btn{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  color: white;
  background-color: rgba(00,00,00,0.2);
  font-size: 2rem;
  transition: 200ms ease-in-out;
}
.slider-btn:hover{
  background-color: rgba(00,00,00,0.5);
}

.prev-button{
  left: 0;
}

.next-button{
  right: 0;
}


/* indicator section */
.indicator{
  width: 15px;
  height: 15px;
  background-color: #bbb;
  border-radius: 50%;
}
.indicator-container{
  position: absolute;
  bottom: 0;
  background-color: rgba(00,00,00,0.2);
  padding: 5px 10px;
  border-radius: 35%;
}
.active{
  background-color: #555;
}

/* mobile phone */
@media screen and (max-width: 480px) {
  img{
    aspect-ratio: 10/4;
  }
}