body{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

img{
  max-width: 1200px;
  aspect-ratio: 6/3;
  width: 500px;
  display: block;
  object-fit: cover;
}


.carousel-image-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-container{
  width: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
}

.slider-btn{
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  color: white;
  background-color: rgba(00,00,00,0.2);
  font-size: 2rem;
  transition: 200ms ease-in-out;
}
.slider-btn:hover{
  background-color: rgba(00,00,00,0.5);
}

.prev-button{
  left: 0;
}

.next-button{
  right: 0;
}